{% extends "app/layout.html" %}
{% block content %}

<form method="POST" action="/stopvmresult/">

<div class="form-group">
    <label for="id_username" class="col-md-2 control-label">Liste VMs</label>
    <div class="col-md-10">
        <select name ="id" id="id" class="form-control">
            {% for vm in vms%}
            <option  value="{{vm.0}}">{{vm.1}}</option>
            {% endfor %}
        </select>
        <br/>
     </div>
</div>


                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Stop VM" class="btn btn-default" />
                    </div>
                </div>
</form>
<p>Use this area to provide additional information.</p>
{{ date }}
{% endblock %}
